*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
body {
    height: 95vh;
    width: 100%;
    background-image: url('/images/blagodom.jpg');
    background-size: cover;
    background-position: center;
    font-size: 1.6rem;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}
