<% include partials/header %>

<div class="ui container">
<h1>Здравствуйте!</h1>

<p>Добро пожаловать в магазин экологичных товаров</p>

<a class="ui primary button" href="/catalog">Каталог товаров</a>
</div>

<% include partials/footer %>