<% include partials/header %>
<div class="container">
    <div class="row  justify-content-center">
            <h1 style="text-align:center">Добавить товар в каталог</h1>
        <div class="input-group justify-content-center">
            <form action="/catalog" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Наименование товара">
                </div>
                <div class="form-group">
                    <textarea style="min-height: 40px" class="form-control" type="text" name="description" placeholder="Описание товара"></textarea>
                </div>
                <!--<div class="custom-file">-->
                    <input type="text" name="image"><!-- class="custom-file-input" -->
                    <!--<label class="custom-file-label" for="inputGroupFile03">Изображение</label>-->
                <!--</div>-->
                <button class="btn btn-primary btn-block mt-1">Добавить товар в каталог</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" href="/catalog">Назад</a>

</div>
<% include partials/footer %>