.main {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    width: 90%;
    height: auto;
    background-color: $color-primary;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1em;
    border-radius: 0.5%;
    flex: 2 1 70vh;
}
.viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}
