body {
    margin-top: 70px;
}
.ui.small.image.thumbnail {
    background-size:contain;
    min-height:100px;
    background-repeat:no-repeat;
    background-position: center;
}

footer {
    margin-top: 50px;
}