body {
    height: 100vh;
    background-image: url('/public/images/blagodom.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    min-height: 80vh;
    height:auto;
    background-color: rgba(255,255,255,0.5);
}
