body {
    height: 100vh;
    background-image: url('/public/blagodom.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    height: 80vh;
    background-color: rgba(255,255,255,0.5);
}
